!!!
%html
  %head
    %title Ticket Meistah
    %link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    %script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js") 
   
  %body
    #wrapper
      #header
        %div{:class => "bg-primary",:style =>"padding: 2em"}
          %h1 Welcome to Ticket Meistah
          %h2 The easy way to get a ticket made with Sinatra and HAML!
 
      #content
        %div{:class => "container center-block" }
          =yield
 
      #side_bar
        %h1 
        %p
 
      #footer
        %p 
          %a{ :href => "https://github.com/Ferrando92/Cinema_Sinatra_Basic/tree/master/views", :title => "My GitHub repository " }Creado por Sergio Ferrando - link to my GitHub repository
          